@layer components {
  .about-section {
    @apply grid grid-cols-12 min-h-screen w-full py-12 px-4 bg-transparent;

    @variant dark {
      background-color: var(--color-dark-400);
    }
  }

  .about-inner {
    @apply col-span-12 mx-auto w-full grid grid-cols-1 gap-6;
  }

  @media (min-width: 900px) {
    .about-inner {
      @apply col-start-2 col-end-12;
    }
  }

  .about-title {
    @apply text-3xl font-bold leading-tight text-center mb-4 col-span-1;
    color: var(--color-primary-700);
    @variant dark {
      color: var(--color-primary-300);
    }
  }

  /* TEXTO */
  .about-copy {
    @apply text-base leading-relaxed space-y-2 text-center w-[90%] mx-auto col-span-1;
    color: var(--color-secondary-500);

    @variant dark {
      color: var(--color-primary-100);
    }
  }

  @media (min-width: 900px) {
    .about-copy {
      @apply text-left;
    }
  }

  .about-card {
    @apply flex flex-col rounded-2xl p-6 shadow-lg items-center text-center gap-6 col-span-1 mx-auto;
    width: 20rem;
    background-color: var(--color-bg-200);

    @variant dark {
      @apply text-primary-100;
      background-color: var(--color-dark-200);
    }
  }

  .about-photo {
    @apply w-35 aspect-square rounded-full object-cover shadow-md;
  }

  @media (min-width: 640px) {
    .about-photo {
      @apply w-35 aspect-square;
    }
  }

  @media (min-width: 900px) {
    .about-photo {
      @apply w-48 h-48;
    }
  }

  /* QR */
  .about-qr {
    @apply p-3 rounded-xl;
    background-color: var(--color-bg-300);

    @variant dark {
      background-color: var(--color-dark-300);
    }
  }

  .about-qr-text {
    @apply text-sm text-center w-full;
    color: var(--color-border-400);

    @variant dark {
      color: var(--color-primary-100);
    }
  }
}
