/* componente contact-section */

@layer utilities {
  .contact-section {
    @apply py-12 px-6 relative z-20 transition-colors duration-300;
    background-color: var(--color-primary-600);
    color: var(--color-bg-100);
    @variant dark {
      background-color: var(--color-dark-200);
      color: var(--color-primary-100);
    }
  }

  .contact-container {
    @apply w-full mx-auto flex flex-col md:flex-row gap-12 justify-between px-15;
  }

  /* formulario */
  .contact-left {
    @apply md:w-2/4;
  }

  .contact-title {
    @apply text-4xl font-bold mb-4;
    color: var(--color-bg-100);
    @variant dark {
      color: var(--color-primary-100);
    }
  }

  .contact-desc {
    @apply mb-6;
    color: var(--color-bg-200);
    @variant dark {
      color: var(--color-primary-200);
    }
  }

  .contact-note {
    @apply mt-6 text-sm leading-relaxed;
    color: var(--color-bg-200);
    @variant dark {
      color: var(--color-primary-200);
    }
  }

  /* redes sociales */
  .contact-right {
    @apply md:w-1/3 flex flex-col items-center md:items-start h-fit gap-4;
  }

  .contact-subtitle {
    @apply text-4xl font-semibold mb-4 text-center;
    color: var(--color-bg-100);
    @variant dark {
      color: var(--color-primary-100);
    }
  }

  .contact-list {
    @apply flex flex-col gap-6 text-5xl;
  }

  .contact-item {
    @apply flex items-center gap-3 transition-colors text-3xl;
    color: var(--color-bg-100);
    @variant hover {
      color: var(--color-dark-100);
      @variant dark {
        color: var(--color-primary-400);
        text-shadow: 1px 0 1px var(--color-secundary-100);
      }
    }
    &:hover .contact-icon {
      @apply scale-110;
    }
  }

  .contact-icon {
    @apply text-3xl transition-transform duration-300;
  }
}
