/* componente nav, prueba de utilities */

@layer utilities {
  .nav {
    @apply sticky top-0 z-50 transition-colors duration-300 grid place-items-center;
    background-color: var(--color-primary-600);
    color: var(--color-bg-100);
    height: calc(var(--spacing-lg) * 2.5);
    box-shadow: 0 1px 10px var(--color-dark-100);
    @variant dark {
      background-color: var(--color-dark-200);
    }
  }

  .nav-container {
    @apply container max-w-full flex justify-between align-middle h-full px-8;
  }

  .nav-logo {
    @apply grid items-center h-full;
    flex: 0 0 9rem;
  }

  .nav-img {
    @apply w-full h-full object-contain;
    filter: brightness(200%);
  }

  .nav-link {
    @apply text-2xl font-bold transition;
    color: var(--color-bg-100);
    @variant hover {
      color: var(--color-primary-300);
    }
  }

  .nav-menu {
    @apply md:flex md:items-center md:gap-1 absolute md:static w-full md:w-auto left-0 md:left-auto transition-all duration-300;
    @variant dark {
      background-color: var(--color-dark-200);
    }
  }

  .nav-item {
    @apply relative md:mx-2 border-b rounded-lg md:border-none;
    border-color: var(--color-border-300);
    &:hover .nav-submenu {
      @apply md:block;
    }
  }

  .nav-button {
    @apply w-full text-left px-4 py-2 rounded flex justify-between items-center transition;
    background-color: transparent;
    color: var(--color-bg-100);
    @variant hover {
      background-color: var(--color-primary-400);
      @variant dark {
        background-color: var(--color-dark-300);
      }
    }
  }

  .nav-submenu {
    @apply hidden md:absolute md:top-full md:left-0 md:shadow-lg md:rounded;
    background-color: var(--color-primary-900);
    @variant dark {
      background-color: var(--color-dark-300);
    }
  }

  .nav-submenu li a {
    @apply block px-4 py-2 rounded transition;
    color: var(--color-bg-100);
    @variant hover {
      background-color: var(--color-primary-500);
      @variant dark {
        background-color: var(--color-dark-100);
      }
    }
  }

  /* movil responsive */

  .nav-submenu-mobile {
    @apply md:hidden w-full shadow-lg rounded;
    background-color: var(--color-primary-600);
    @variant dark {
      background-color: var(--color-dark-300);
    }
  }

  .nav-subitem {
    @apply block px-6 py-2 rounded transition;
    color: var(--color-bg-100);
    @variant hover {
      background-color: var(--color-primary-500);
      @variant dark {
        background-color: var(--color-dark-100);
      }
    }
  }

  .btn-toggle {
    @apply text-3xl focus:outline-none;
    color: var(--color-bg-100);
  }

  .nav-active {
    background-color: var(--color-primary-800);
    font-weight: 600;
    @variant dark {
      background-color: var(--color-dark-300);
    }
  }
}
