/* componente sticky-buttons */
@layer utilities {
  .sticky-buttons {
    @apply fixed bottom-6 left-4 sm:left-6 z-50 flex flex-col-reverse items-start gap-3;
  }

  /* Botón base */
  .sticky-btn {
    @apply flex flex-row items-center p-3 gap-2 rounded-full shadow-lg overflow-hidden transition-all duration-300 cursor-pointer text-sm sm:text-base;
    background-color: var(--color-primary-600);
    color: var(--color-bg-100);
    width: 3.5rem;
    height: 3.5rem;
    @variant hover {
      width: 20rem;
      background-color: var(--color-primary-500);
      box-shadow: 0 0 12px var(--color-primary-300);
      & .sticky-icon {
        @apply scale-110;
      }
    }
    @variant dark {
      background-color: var(--color-dark-100);
      @variant hover {
        background-color: var(--color-dark-200);
        box-shadow: 0 0 12px var(--color-primary-400);
      }
    }
  }

  /* Ícono */
  .sticky-icon {
    @apply text-2xl shrink-0 transition-transform duration-300;
  }

  /* .sticky-btn:hover .sticky-icon {
    @apply scale-110;
  } */

  /* Texto */
  .sticky-text {
    @apply opacity-0 translate-x-3 whitespace-nowrap transition-all duration-300;
    color: var(--color-dark-300);
    @variant dark {
      color: var(--color-primary-100);
    }
  }

  .sticky-btn:hover .sticky-text {
    @apply opacity-100 translate-x-0;
  }

  /* mercadoLibre */
  .btn-ml {
    background-color: var(--color-amber-400);
    &:hover {
      background-color: var(--color-amber-300);
    }
  }

  /* whatsapp */
  .btn-wa {
    background-color: var(--color-emerald-500);
    &:hover {
      background-color: var(--color-emerald-400);
    }
  }

  /* animacion */
  @keyframes bounce-slow {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }

  .animate-bounce-slow {
    animation: bounce-slow 2.5s infinite;
  }
}
